
.header>div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-item1{
    display: flex;
    align-items: center;
    font-family: "RubikBold";
}

.header-item1 img{
    width: 35px;
    height: 36.23px;
    margin-right: 10px;
}

.header-item2{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.header-item2-clone{
    display: none;
}

.header-item3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "RubikBold"
}

.header-item3 p{
    height: 19px;
    margin-right: 10px;

    font-size: 16px;
    line-height: 19px;
}

.header-item3 button{
    height: 45px;
    width: 100px;

    border-radius: 30px;
    border: 1px solid #F53855;
    background-color: inherit;

    color: #F53855;
    font-size: 16px;
    line-height: 19px;

    transition: .4s;
}

.header-item3 button:hover{
    background-color: #F53855;
    color: #fff;
}

@media(max-width:920px){
    .header-item2{
        display: none;
    }

    .header-item2-clone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        padding: 2%;
        margin-top: 20px;
        background-color: #e1e1e1;
    }
}

@media(max-width:440px){
    .header-item1, .header-item2-clone, .header-item3 p, .header-item3 button{
        font-size: 13px;
    }
    .header-item1 img{
        width: 30px;
        height: 31px;
    }
}

@media(max-width:350px){
    .header-item3 p{
        display: none;
    }
    .header-item3 button{
        height: 35px;
    }
}
