.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    text-align: center;
}

.section4 h2{
    font-family: "RubikMed500";
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 50px;
}

.section4 h3{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
}

.section4>img{
    width: 100%;
}

.section4-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.section4-img img{
    width: 20%;
}

@media (max-width:700px){
    .section4 h2{
        font-size: 25px;
        line-height: normal;
    }
    .section4 h3{
        font-size: 14px;
        line-height: normal;
    }
}