
.section2{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.section2-item p:first-child{
    font-size: 35px;
    font-family: "RubikMed500";
}

.section2-item div{
    display: flex;
    align-items: center;
    line-height: 30px;
}

.section2-item{
    width: calc(60% - 30px);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: stretch;
    justify-content: space-between;
}

.section2-item div>img{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.section2-img{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2-img img{
    width: 100%;
    object-fit: cover;
}

@media (max-width:770px){
    .section2-item p:first-child{
        font-size: 28px;
    }
}

@media (max-width:530px){
    .section2-item p:first-child{
        font-size: 25px;
    }
    .section2-item p:nth-child(2){
        font-size: 12px;
    }
    .section2-item div{
        font-size: 12px;
        line-height: 25px;
    }
}