@font-face {
    font-family: "RubikBold";
    src: url("../../font/Rubik-Bold.ttf");
}

@font-face {
    font-family: "RubikMed500";
    src: url("../../font/Rubik-Medium.ttf");
}
.section1-item1{
    display: flex;
    justify-content: space-between;
    margin-top: 88.49px;
}

.section1-item1 p:first-child{
    font-size: 50px;
    line-height: 70px;
    font-family: "RubikMed500";
}
.section1-item1 p:nth-child(2){
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin: 20px 0;
}

.section1-item1 button, .second1-middle button{
    width: 250px;
    height: 60px;

    background-color: #F53838;
    border-radius: 10px;

    color: white;

    transition: .4s;
}

.section1-item1-div1 button:hover, .second1-middle button:hover{
    box-shadow: 0 28px 20px rgba(245, 56, 56, 0.35);
    border-radius: 40px;
}

.second1-middle {
    display: none;
    justify-content: center;
    align-items: center;
}

.section1-item1-div1{
    width: calc(60% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section1-item1-div2{
    width: 40%;
    display: flex;
    align-items: center;
}

.section1-item1 img{
    width: 100%;
    object-fit: cover;   
}

.section1-item2{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 50px 90px #80818a;
    border-radius: 20px;
}

.section1-item2-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% ;
}

.section1-item2-div div:first-child{
    display: flex;
    padding: 18px;
    border-radius: 50%;
    background-color: #FFECEC;
    margin-right: 10px;
}

.section1-item2-div img{
    width: 18px;
    height: 18px;
}

.section1-item2-div p:first-child{
    font-family: "RubikBold";
    font-size: 25px;
}

.section1-item2-div p:nth-child(2){
    font-size: 20px;
}

@media (max-width:950px){
    .section1-item1-div1 p:first-child{
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width:770px){
    .section1-item1-div1 p:first-child{
        font-size: 35px;
        line-height: 40px;
    }
    .section1-item1 p:nth-child(2){
        font-size: 14px;
        line-height: 25px;
    }
    .section1-item1 button{
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
    .section1-item2-div p:first-child{
        font-size: 20px;
    }
    .section1-item2-div p:nth-child(2){
        font-size: 15px;
    }
    .section1-item2-div div:first-child{
        padding: 15px;
    }
    .section1-item2-div img{
        width: 15px;
        height: 15px;
    }
}

@media (max-width:530px){
    .section1-item1 p:first-child{
        font-size: 28px;
        line-height: 30px;
    }
    .section1-item1 p:nth-child(2){
        font-size: 12px;
        line-height: 18px;
    }
    .section1-item2{
        flex-direction: column;
    }
    .section1-item2-div{
        width: 100%;
        justify-content: center;

        border: 1px solid #e1e1e1;
    }
    .section1-item1 button{
        display: none;
    }
    .second1-middle{
        display: flex;
    }
    .second1-middle button{
        width: 100% !important;
        height: 45px;
        font-size: 14px;
    }
}