
.section2{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    padding-right: 50px;
}

.section2-item p:first-child{
    font-size: 35px;
    font-family: "RubikMed500";
}

.section2-item div{
    display: flex;
}

.section2-item{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: stretch;
    justify-content: space-between;
}

.section2-item div>img{
    margin-right: 10px;
}
